.text-center {
    text-align: center;
  }
  
  .top-image {
    text-align: center;
  }
  
  .top-image img {
    border-color: #208DB5 !important;
  }
  
  .top-hero {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 15px;
    box-shadow: 9 1px 18px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 3px solid rgba(255, 255, 255, 0.3);
  }
  
  p.large-blur { text-shadow: 5px 1px 15px rgb(16, 223, 161); }
  h1,
  h2 {
    color: #01284e;
  }
  
  header>img {
    border: 10px solid #ccc;
    transition: 1s;
  }
  
  header img:hover {
    border-color: chartreuse;
  }
  
  a {
    color: #000;
    transition: ease-in 1s;
  }
  
  a:hover {
    color: #06526e;
  }
  
  .tags span {
    border: 5px solid #e4be78;
    padding: 5px 10px;
    color: #412327;
    border-radius: 22px;
    font-size: 0.8rem;
    display: inline-block;
    margin: 2px;
  }
  
  .top-container {
    background: url('IMG_1943.jpg') no-repeat 50% 50%;
    background-size: cover;
  }
  
  body {
    background: -webkit-linear-gradient(90deg, #c2e5ff 0%, #54866d 150%);
    margin: 0;
    padding: 0;
  }
  
  .buttons-container {
    width: 100%;
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  button {
    background: white;
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
  }
  
  .button-arounder {
    font-size: 2rem;
    background: hsl(190, 98%, 21%);
    color: hsl(199, 59%, 89%);
    
    box-shadow: 0 0px 0px hsla(198, 33%, 85%, 0.2);
    transfrom: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    --dur: .15s;
    --delay: .15s;
    --radius: 16px;
    
    transition:
      border-top-left-radius var(--dur) var(--delay) ease-out,
      border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
      border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
      border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
      box-shadow calc(var(--dur) * 4) ease-out,
      transform calc(var(--dur) * 4) ease-out,
      background calc(var(--dur) * 4) steps(4, jump-end);
  }
  
  .button-arounder:hover,
  .button-arounder:focus {
    box-shadow: 0 4px 8px hsla(195, 74%, 41%, 0.2);
    transform: translateY(-4px);
    background: hsl(230, 49%, 67%);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
:root {
  --bg-gradient: linear-gradient(180deg, rgba(145, 56, 56, 0.15), rgba(235, 26, 26, 0));

}

.fw-bolder {
    font-weight: bolder !important;
  }

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-5 {
      font-size: 3rem;
    }
  }
  .text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  }

  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  .btn:hover {
    background-color: RoyalBlue;
  }

  @keyframes ruch
{
  0% { background-position:0 0, 0 0, 0 0; }
  50% { background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% { background-position: 500px 1000px, 200px 400px, -100px 300px; }
}
 @-webkit-keyframes ruch
      {
        0% { background-position:0 0, 0 0, 0 0; }
       50% { background-position: 500px 500px, 100px 200px, -100px 150px; }
      100% { background-position: 500px 1000px, 200px 400px, -100px 300px; }
      }
 

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc00;
    border: solid 1px #c3c3c300;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }

  .progress {
    margin: 10px;
    width: 250px;
  }

  